
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    align-items: center;
  }

  .pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .pricing-plan{
    flex:1;
    max-width: 400px;
    background-color: #f2f2f2;
    color: hsl(233, 13%, 49%);
    border-radius: 0.8rem;
    text-align: center;
    padding: 20px;
  }

  .pricing-container .pricing-plan .active {
    background: linear-gradient(
135deg,
    rgba(163, 168, 240, 1) 0%,
rgba(105, 111, 221, 1) 100%
        );
color: #fff;

    align-items: center;
    transform: scale(1.1);
    text-align: center;
    z-index: 1;
    }

  .plan-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  margin: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
.plan-price {
  font-size: 3rem;
  color: hsl(232, 13%, 33%);
  padding-bottom: 2rem;
}
.shadow {
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.pricing-plan .active .plan-price{
  color: #fff;
}

.plan-button{
  margin: 1rem;
  height: 2.6rem;
  width: 13.3rem; 
 
  
  border-radius: 4px;
  background: linear-gradient(
135deg,
rgba(163, 168, 240, 1) 0%,
rgba(105, 111, 221, 1) 100%
);

  color: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
}

.active-btn{
  background: #fff;
  color: hsl(237, 63%, 64%);
}

.plan-features li{
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.pricing-plan .active .plan-features li{
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.253); 
}

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 280px) {
ul {
margin: 1rem;
}
h1 {
font-size: 1.2rem;
}

.pricing-container {
margin: 0;
display: flex;
flex-direction: column;
gap: 10px;
}

.pricing-plan {
transform: scale(0.8);
margin-bottom: 1rem;
}
.pricing-container .pricing-plan.active {
transform: scale(0.8);
}
}

@media (min-width: 280px) and (max-width: 320px) {
ul {
margin: 20px;
}
.pricing-container {
display: flex;
flex-direction: column;
gap: 10px;
}
.pricing-plan {
margin-bottom: 1rem;
}
.pricing-container .pricing-plan.active {
transform: scale(1);
}
}

@media (min-width: 320px) and (max-width: 414px) {
.pricing-container {
display: flex;
flex-direction: column;
gap: 20px;
}
.pricing-plan {
margin-bottom: 1rem;
}
.pricing-container .pricing-plan.active {
transform: scale(1);
}
}
@media (min-width: 414px) and (max-width: 768px) {
.pricing-container {
margin-bottom: 1rem;
margin-right: 1rem;
gap: 20px;
}
.pricing-container .pricing-plan .active {
transform: scale(1);
}
}
@media (min-width: 768px) and (max-width: 1046px) {
.pricing-container {
display: flex;
gap: 20px;
}
.pricing-plan {
margin-bottom: 1rem;
margin-right: 1rem;
}
.pricing-container .pricing-plan .active {
transform: scale(1);
}
}